@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

/* :root {
    --primary-color: #388FB1;
    --secondary-color: #F8BD53;
    --third-color: #D9332E;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.placesto-vietnam {
    position: relative;
    top: 40rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translateX(-50%);
    padding-top: 30px;
    height: auto;
    width: 90%;
}

.destinate-vietnam {
    font-size: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 5px;
    position: relative;
    border-left: 8px solid #1B95B8;
}



.places-container {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
}

.places-item {
    background-color: tomato;
    position: relative;
    transition: all .3s ease;
}

.places-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 46, 46, 0.194);
}

.places-item .line-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 9px;
    background-color: var(--secondary-color);
    opacity: 0;
    transition: all .3s ease;
}

.places-item:hover .line-top {
    opacity: 1;
}

.places-item .places-item__wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: all .3s ease;
}

.places-item:hover .places-item__wrapper {
    transform: translateY(-50%);
}

.places-item__wrapper .wrapper__title {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}

.places-item__wrapper .wrapper__title,
.places-item__wrapper .wrapper__button {
    cursor: pointer;
}

.places-item__wrapper .wrapper__title span {
    display: block;
}

.places-item__wrapper .wrapper__button {
    display: inline-block;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.places-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places-item:first-child {
    grid-row: 1/3;
}

.places-item:nth-child(2) {
    grid-row: 1/3;
}





